<a href="https://colab.research.google.com/github/Jason-hub77/04082021_phyton_project_2/blob/main/Phyton_%C3%B6dev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = {
    'Cahit': 'W@12',
    'Emir': 'Xzy%',
    'Ceren': 'kYt&',
    'Ali': 'hT!x',
    'Furkan': 'pOn?'
}
user = input("What is your name?\n")
# print(user)
# ver = user.issuperset(personel)
ver = personel.get(user)
print(ver)

What is your name?
Alec
pOn?

In [ ]:
numbers = [1, 4, 7]
numbers.insert(2, 9)
print(numbers)
numbers.insert(2, 6)
print(numbers)
numbers.insert(0, "www")
numbers.insert
print(numbers)

[1, 4, 9, 7]
[1, 4, 6, 9, 7]
['www', 1, 4, 6, 9, 7]

In [ ]:
list("111")

['1', '1', '1']

In [ ]:
num1 = float(input("first :"))
num2 = float(input("second :"))
if (num1 > num2) :
  larger = num1
else :
  larger = num2

print("ghj", larger)

In [ ]:

numbet.append("222")
numbet.append("999")
numbet

[666, 222, 333, 888, 333, 888, 999, 888, '999', '222', '999']

In [ ]:
city = ["a", "b","c"]
city[0] = True
city[1:] = "clarus"
city

[True, 'c', 'l', 'a', 'r', 'u', 's']

In [ ]:
city = ["a", "b","c"]

In [ ]:
city

['a', 'b', 'c']

In [ ]:
a = [1,2,3,4]
a.insert(-1,5)
a

[1, 2, 3, 5, 4]

In [ ]:
ter = "tyou can learn almost everything in preclassz"
print(ter.upper().strip("TZ"))

YOU CAN LEARN ALMOST EVERYTHING IN PRECLASS

In [ ]:
a.insert(-1,5)
a

[1, 2, 3, 4, 5, 5]

In [ ]:
ornek = "     başında ve sonunda   "
print(ornek)
print(ornek.strip())
print(ornek.lstrip())
print(ornek.rstrip())

     başında ve sonunda
başında ve sonunda
başında ve sonunda
     başında ve sonunda

In [ ]:
ornek = "interoperability"
print(ornek.rstrip("yint"))

interoperabil

In [ ]:
text = "In God wee Trust"
print(text.replace("e","",1))
print(text.replace("wee","We",1))
print(text.replace("ee","e",1).title())
print(text.title().replace("e","",1))

In God we Trust
In God We Trust
In God We Trust
In God We Trust

In [ ]:
list_1=["h", "a", "p", "p", "y"]
word = "happy"
l1 = [word]
l2 = list(word)
l3 = [1, 2, 3, "wer", True, "False", False]
list_2 = list(word)
print(list_1)
print(list_2)
print(l1)
print(l2)
print(l3)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']
['happy']
['h', 'a', 'p', 'p', 'y']
[1, 2, 3, 'wer', True, 'False', False]

In [ ]:
country = ["USA", "Brasil", "UK", "Turkey"]
print(country)

['USA', 'Brasil', 'UK', 'Turkey']

In [ ]:
str_1 = "I quit smoking"
new_list_1 = list(str_1)
print(new_list_1)
new_list_2 = [str_1]
print(new_list_2)
newlist_3 = ["fffff", "ttttt", str_1]
print(newlist_3)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']
['fffff', 'ttttt', 'I quit smoking']

In [ ]:
zar_1 = 123
zar_2 = "a string"
zar_3 = True
zar_4 = 11.22
mixed_list = [11, "Joseph", False, 3.14, None, [1, 2, 3, ["list3" , 22]], zar_1, zar_2, zar_3, zar_4]
print(mixed_list)

[11, 'Joseph', False, 3.14, None, [1, 2, 3, ['list3', 22]], 123, 'a string', True, 11.22]

In [ ]:
my_list = ["Joseph", "Clarusway", 2020]
new_list_1 = list(my_list)
new_list_2 = [my_list]
print(new_list_1)
print(len(new_list_1))
print(new_list_1)
print(len(new_list_2))
print(my_list[1:-1])

['Joseph', 'Clarusway', 2020]
3
['Joseph', 'Clarusway', 2020]
1
['Clarusway']

In [ ]:
name = "jason"
print(list(name))
list2 = [name]
print(list2) 
print(new_list_1, type(new_list_1))
print(len(new_list_1))
print(new_list_2)
print(new_list_2, len(new_list_2), type(new_list_2))

['j', 'a', 's', 'o', 'n']
['jason']
['Joseph', 'Clarusway', 2020] <class 'list'>
3
[['Joseph', 'Clarusway', 2020]]
[['Joseph', 'Clarusway', 2020]] 1 <class 'list'>

In [ ]:
my_list1 = ["2020's hard"]
my_list2 = list("2020's hard")
print(my_list1, "\nmy list is : \t\t ", len(my_list2), "\ntype of is :\t\t ", type(my_list1))
print(my_list2)

["2020's hard"]
my list is : 		  11
type of is :		  <class 'list'>
['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

In [ ]:
numbers = [1, 4, 7]
numbers.append(9)
numbers.append("9")
numbers.append(True)
numbers.append(2.44)
numbers.append("a str")
numbers.append(["ff","ee", 22, False])
print(numbers)

[1, 4, 7, 9, '9', True, 2.44, 'a str', ['ff', 'ee', 22, False]]

In [ ]:
mylist = list(range(11))
print(mylist)
mylist[0::3]
mylist[::-2]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 8, 6, 4, 2, 0]

In [ ]:
my = list(range(1,11,2))
print(my)

[1, 3, 5, 7, 9]

In [ ]:
var_string = "clarusWAY"
print(var_string.lower())
var_string_1 = var_string.upper()
print(var_string_1)
print("clArUsWaY".capitalize())

clarusway
CLARUSWAY
Clarusway

In [ ]:
var_string = "clarusWAY"
print(var_string.lower())
var_string_1 = var_string.upper()
print(var_string_1)
print("ClArUsWaY".swapcase())

clarusway
CLARUSWAY
cLaRuSwAy

In [ ]:
var_str = " In GOD we Trist"
var_str.lower()
print(var_str.title())
print(var_str.endswith("Ust"))
print(var_str.startswith("Ust"))
print(var_str.startswith("D",6))
print(var_str.endswith("T",6,12))
title_var = var_str.title()
changed_str = title_var.replace("o", "oo")
print(changed_str)
var_str_v = var_str.upper().replace("I", "t")
print(var_str_v)

 In God We Trist
False
False
True
True
 In Good We Trist
 tN GOD WE TRtST

In [ ]:
txt = "S0d0me and G0more"
txt_1 = txt.replace("0", "o")
print(txt_1)

Sodome and Gomore

In [ ]:
my_var = "qq        listen first     qqqqq"
print(my_var)
print(my_var.strip("q"))
print(my_var.strip(" "))
print(my_var.strip(""))
print(my_var.strip())
print(my_var.strip(" q"))
print(my_var.strip("ql"))
print(my_var.strip("i eqlts"))

qq        listen first     qqqqq
        listen first
qq        listen first     qqqqq
qq        listen first     qqqqq
qq        listen first     qqqqq
listen first
        listen first
n fir

In [ ]:
our_var = "interoperability"
print(our_var)
print(our_var.rstrip("ni"))
print(our_var.lstrip("ni"))
print(our_var.strip("ni"))

interoperability
interoperability
teroperability
teroperability

In [ ]:
my_str = "       listen first     "
print(my_str)
# print(space.rstrip(""))

       listen first

In [ ]:
a = ["a12 34q wer'^+%&/", "asdfgh!'''^+%"]
list (a)
print(list(a))
b =[a]
print(b)

["a12 34q wer'^+%&/", "asdfgh!'''^+%"]
[["a12 34q wer'^+%&/", "asdfgh!'''^+%"]]

In [ ]:
b = [a]

In [ ]:
a = "2020's hard"
list(a)
print(list(a))

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

In [ ]:
print(list(a))

["2020's hard"]

In [ ]:
text = "the better THE family, the better THE society"
print(text.title())
print(text.swapcase())
print(text.lower())
print(text.upper())

The Better The Family, The Better The Society
THE BETTER the FAMILY, THE BETTER the SOCIETY
the better the family, the better the society
THE BETTER THE FAMILY, THE BETTER THE SOCIETY

In [ ]:
spk = "test, cümlesi"
print(spk.swapcase().lower().capitalize())

Test, cümlesi

In [ ]:
jkl = "s0d0me and G0m0re"
print(jkl.replace("0", "o", 4).capitalize().title())

Sodome And Gomore

In [ ]:
example = "snow world"
print("%s" % example[4:7])

 wo

In [ ]:
print("abcd"[2:])

cd

In [ ]:
print("{0} {1} {2} {3} {4}".format('I', 'will', 'find', 'a', 'job'))

I will find a job

In [ ]:
False and {0} or []

[]

In [ ]:
print("1"+"2")

12

In [ ]:
number = str("20")
print(number + str(20))
print(2020)

2020
2020

In [ ]:
number = str("20")
print(number + str(20))
print(2020)

2020
2020

In [ ]:
print(chr(ord('b')+1))

c

In [ ]:
print(format("Welcome", "20s"), end = '#')
print(format(111, "11d"), end = '#')
print(format(924.656, "5.5f"))

Welcome             #        111#924.65600

In [ ]:
print('*', "abcdef".center(7), '*')

*  abcdef *

In [ ]:
print("xyyzxyzxzxyy".count('yy', 1))

2

In [ ]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 2))
print("xyyzxyzxzxyy".endswith("xyy", 0, 3))
print("xyyzxyzxzxyy".endswith("xyy", 9, 12))
print("xyyzxyzxzxyy".endswith("xyy", -3, 12))
print("xyyzxyzxzxyy".endswith("xyy", -12, -9))

False
True
True
True
True

In [ ]:
a = 36.5
b = '30'
c = '3.5'
d = ' F is enough for room temperature.'

print(str(a+int(b)+float(c))+d)

70.0 F is enough for room temperature.

In [ ]:
test = 123456789
print(test.startswith)

In [ ]:
var_1 = "last"
var_2 = 43
print(f"my {var_1} age is {var_2}")

my last age is 43

In [ ]:
fruit = "Orange"
vegetable = "Tomato"
amount = 6

output = 'The amount of {fruit} and {vegetable} we bought are totally {amount} \
pounds'.format(fruit = "Orange", vegetable = "Tomato", amount = 6)

output_1 = f'The amount of {fruit} and {vegetable} we bought are totally\
 {amount} pounds'

output_2 = "The amount of {} and {} we bought are totally {} pounds" \
.format(fruit, vegetable, amount)

print(output)
print(output_1)
print(output_2)

The amount of Orange and Tomato we bought are totally 6 pounds
The amount of Orange and Tomato we bought are totally 6 pounds
The amount of Orange and Tomato we bought are totally 6 pounds

In [ ]:
sample = f"{2*3}"
print(sample)

6

In [ ]:
sample = f"two to power three is : {2-3}"
sample_1 = "two to power three is : {2*3}"
sample_2 = f"......:{2 ** 3}"
print(sample)
print(sample_1)
print(sample_2)

two to power three is : -1
two to power three is : {2*3}
......:8

In [ ]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
output = 'Then less you {var1} and {var2}, the {var3} your {var4} will be.'.format(var1 = "sleep", var2 = "eat", var3 = "better", var4 = "life")
print(output)

Then less you sleep and eat, the better your life will be.

In [ ]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
output = f'Then less you {var1} and {var2}, the {var3} your {var4} will be.'
print(output)

Then less you sleep and eat, the better your life will be.

In [ ]:
name = "MARIAM"
name_1 = "MARIAM and Meryem are similar names İN DİFFERENT LANGUAGES"
name_2 = "mariam"
output = f"My name is {name.capitalize()}"
output_1 = f"My name is {name_1.capitalize()}"
output_2 = f"My name is {name.lower()}"
output_3 = f"My name is {name.upper()}"
print(output)
print(f"My name is {name.capitalize()}")
print(output_1)
print(output_2)
print(output_3)

My name is Mariam
My name is Mariam
My name is Mariam and meryem are similar names i̇n di̇fferent languages
My name is mariam
My name is MARIAM

In [ ]:
print('*', "abcdef".center(6), '*')

* abcdef *

In [ ]:
print("xyyzxyyzxzxyy".count('yy', 9, 13)) # print("xyyzxyzxzxyy".count('yy', 1))

1

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
    f"Hi {name}. "
    f"You are one of the {job} "
    f"in the {domain} section."
)

print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
    f"You are one of the {job} " \
    f"in the {domain} section."
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
    f"Hi {name}. \n" 
    f"You are \n one of the {job} " 
    f"in the {domain} section."
)
print(message)

Hi Joseph.
You are
 one of the teachers in the Data Science section.

In [ ]:
var_string = "ClarusWay"
print(var_string.lower())
print(var_string)
var_string = "ClarusWay".lower()
print(var_string)

clarusway
ClarusWay
clarusway

In [ ]:
var_str = "ClarusWAY"
print(var_str)
print(var_str.capitalize())
print(var_str)
print(var_str.lower())
print(var_str.upper())
var_str = "here is another string"
print(var_str)

ClarusWAY
Clarusway
ClarusWAY
clarusway
CLARUSWAY
here is another string

In [ ]:
var_tr = "ın God WE tRUST"
print(var_tr.upper())
print(f"{var_tr.upper()}")
print(var_tr)
var_tr = var_tr.upper()
print(var_tr)

IN GOD WE TRUST
IN GOD WE TRUST
ın God WE tRUST
IN GOD WE TRUST

In [ ]:
text = "www.clarusway.com"
print(text.endswith(".com"))
print(text.endswith(".co"))
print(text.endswith("om"))
print(text.startswith("http"))
print(text.startswith("ww"))

True
False
True
False
True

In [ ]:
email = "clarusway@clarusway.com is my e-mail address"
test = "123456789"
print(test.startswith("2345678", 1))
print(test.endswith("6", 3, 6))
print(email.startswith("@", 9))
print(email.endswith(".", 10, 32))

True
True
True
False

In [ ]:
print("15.000$" .endswith("$"))

True

In [ ]:
sentence = "I liVe and wOrk iN ErzUrum"
print(sentence.upper())
print(sentence.lower())
print(sentence.swapcase())
print(sentence)

I LIVE AND WORK IN ERZURUM
i live and work in erzurum
i LIvE AND WoRK In eRZuRUM
I liVe and wOrk iN ErzUrum

In [ ]:
title_sentence = sentence.title()
print(title_sentence)
change_sentence = sentence.replace("i", "*")
print(change_sentence)

I Live And Work In Erzurum
I l*Ve and wOrk *N ErzUrum

In [ ]:
print(not 0 and ("write me"))

write me

In [ ]:
text = "0sd0me0"
text = text.replace( "0", "o", 3)
print(text)

osdomeo

In [ ]:
ornek = "ee e e    başında ve sonunda buluk olan bir cümle...    eee"
print(ornek)
print(ornek.strip("eee"))

ee e e    başında ve sonunda buluk olan bir cümle...    eee
 e e    başında ve sonunda buluk olan bir cümle...

In [ ]:
ornek = "tinteroperabilityz"
print(ornek.strip("tz").upper())
print(ornek.upper().strip("TZ"))
a = ornek.strip()
b = a.strip("tz")
c = b.upper()
print(c)

INTEROPERABILITY
INTEROPERABILITY
INTEROPERABILITY

In [ ]:
type = 'In God wee Trust'
print(text_4.replace("ee", "e")

SyntaxError: ignored

In [ ]:
ornek = "tinteroperabilityk"
print(ornek.strip("yin"))
print(ornek.rstrip("inyt"))

In [ ]:
A = 1000  # Amount
r = 0.07  # Rate
B = A + (A * r)  # First day
B += (B * r)  # Second day
B += (B * r)  # Third day
B += (B * r)  # Fourth day
B += (B * r)  # Fifth day
B += (B * r)  # Sixth day
B += (B * r)  # Seventh day
print(B)

1605.78147647843

In [ ]:
7{[]}\\}\\

In [ ]:
P = 1000  # Amount
r = 7  # Rate
t = 7  # Time
A = P*(1+r/100)**t
print(A)

1605.7814764784307