<a href="https://colab.research.google.com/github/Jason-hub77/04082021_phyton_project_2/blob/main/Teamwork_20_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
a = []
n= int(input("Enter number of elements:"))

Enter number of elements:23

In [34]:
a = []
n= int(input("Enter number of elements:"))
for i in range(n):
    b = int(input("Enter element:"))
    a.append(b)
print(a)

Enter number of elements:3
Enter element:22
Enter element:33
Enter element:44
[22, 33, 44]

In [27]:
a = []
n= int(input("Enter number of elements:"))
for i in range(1, n+1):
    b = int(input("Enter element:"))
    a.append(b)
a.sort()
print(a)

Enter number of elements:3
Enter element:44
Enter element:55
Enter element:66
[44, 55, 66]

In [26]:
a = []
n= int(input("Enter number of elements:"))
for i in range(1, n+1):
    b = int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest elements is:", a[n-1])

Enter number of elements:4
Enter element:33
Enter element:44
Enter element:55
Enter element:66
Largest elements is: 66

In [ ]:
a = []
n= int(input("Enter number of elements:"))
for i in range(1, n+1):
    b = int(input("Enter element:"))
    a.append(b)
a.sort()
print(a)

In [29]:
a = []
n= int(input("Enter number of elements:"))
for i in range(1, n+1):
    b = int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest elements is:", a[n-1])

Enter number of elements:5
Enter element:22
Enter element:33
Enter element:44
Enter element:55
Enter element:66
Largest elements is: 66

In [19]:
liste=["eat", "tea", "tan", "ate", "nat", "bat"]
sorted_list=[]
for i in liste:
  if sorted(i) not in sorted_list:
    sorted_list.append(sorted(i))
print(sorted_list)

[['a', 'e', 't'], ['a', 'n', 't'], ['a', 'b', 't']]

In [6]:
liste=["eat", "tea", "tan", "ate", "nat", "bat"]
sorted_list=[]
sonuc=[]
for i in liste:
  if sorted(i) not in sorted_list:
    sorted_list.append(sorted(i))
for a in range(len(sorted_list)):
  sonuc.append([i for i in liste if sorted(i)==sorted_list[a]])
print(sonuc)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [8]:
liste=["eat", "tea"]
sorted_list=[]
for i in liste:
  if sorted(i) not in sorted_list:
    sorted_list.append(sorted(i))
print(sorted_list)

[['a', 'e', 't']]

In [9]:
liste=["eat", "tea", "tan", "ate", "nat", "bat"]
sorted_list=[['a', 'e', 't'], ['a', 'n', 't'], ['a', 'b', 't']]
sonuc=[]
for a in range(len(sorted_list)):
  sonuc.append([i for i in liste if sorted(i)==sorted_list[a]])
print(sonuc)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [10]:
liste=["eat", "tea", "tan", "ate", "nat"]
sorted_list=[['a', 'e', 't'], ['a', 'n', 't'], ['a', 'b', 't']]
sonuc=[]
for a in range(len(sorted_list)):
  sonuc.append([i for i in liste if sorted(i)==sorted_list[a]])
print(sonuc)

[['eat', 'tea', 'ate'], ['tan', 'nat'], []]

In [11]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
anag = {}
for i in strs:
    element = "".join(sorted(i))
    if element in anag:
        anag[element].append(i)
    else:
        anag[element] = [i]
print(list(anag.values()))
[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]

In [13]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
anag = {}
for i in strs:
    element = "".join(sorted(i))
print(element)
print(anag)

act
{}

In [18]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
anag = {}
for i in strs:
    element = "".join(sorted(i))
    if element in anag:
        anag[element].append(i)
    else:
        anag[element] = [i]

print(anag)

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat'], 'act': ['cat', 'tac']}

In [16]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
anag = {}
for i in strs:
    element = "".join(sorted(i))
    if element in anag:
        anag[element].append(i)
    else:
        anag[element] = [i]
print(list(anag.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]